.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}