.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    color: $offwhite;
    height: 100vh;

    .form-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}