.advocacy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey;

    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .what-it-is-wrapper {
        display: flex;
        width: 50%;

        p {
            padding: 15px;
            line-height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 5px;
            word-wrap: break-word;
            background-color: $offwhite;
        }
    }

    .what-it-says-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        column-gap: 25px;
        
        .left-column {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            border: 2px solid black;
            border-radius: 5px;
            word-wrap: break-word;
            background-color: $offwhite;
        }
        .right-column {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            border: 2px solid black;
            border-radius: 5px;
            word-wrap: break-word;
            background-color: $offwhite;
        }
    }

    .what-you-can-do-wrapper {
        margin-top: 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        column-gap: 25px;

        .left-column {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            border: 2px solid black;
            border-radius: 5px;
            background-color: $offwhite;

            .r2b-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                    a {
                        color: $grey;
                    }              
            }

            .fight-FDA-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .right-column {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            border: 2px solid black;
            border-radius: 5px;
            background-color: $offwhite;

            .state-reps-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a {
                    color: $grey;
                }

                img {
                    margin-top: 50px;
                }
            }
        }
    }
}