.location-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 42px;

    h4 {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 5px;
        color: $offwhite;
    }

    p {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color: $offwhite;
    }

    a {
        cursor: pointer;
        color: $offwhite;
        text-decoration: none;
        padding-top: 5px;

        &:hover {
            color: $charcoal;
        }
    }
}