.products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }

    .mods-wrapper {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .tanks-wrapper {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .coils-wrapper {
        display: flex;
        justify-items: center;
        align-items: center;
    }
}