.slide-container {
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: $grey;
    padding-top: 15px;
    position: relative;

    .react-slideshow-container {
        height: 100%;
        width: 100%;
        background-size: cover;

        .images-wrap {
            height: 100%;
        }
    }

    .slide > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 300px;

        .each-slide > div {
            height: 200px;
            width: auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
